.contactPage {
    position: relative;
    top: 50px;
    z-index: 50;
    min-height: 100%;
    height: calc(100vh - 50px);
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.v1 {
    margin-top: 110px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    padding: 50px;
}

.v1h1 {
    height: 100%;
    width: 50%;
    padding: 0 50px 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-flow: column;
}

.v1h1v1 {
    font-size: 35px;
    color: rgb(198, 198, 198);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.v1h1v2 {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.v1h2 {
    height: 100%;
    width: 50%;
    box-shadow: -20px 10px 100px 1px black;
}

.v2 {
    height: 100px;
    background: rgb(86, 136, 152);
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.v2h1 {
    height: 100%;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.v2h2 {
    height: 30px;
    width: 30px;
    outline: 0;
    border: 0;
    margin-right: 20px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

@media (max-width: 720px) {
    .v1 {
        flex-flow: column;
        min-height: 100vh;
        height: auto;
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .v1h1 {
        width: 90%;
        padding: 20px;
        margin-bottom: 50px;
    }

    .v1h1v1 {
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .v1h2 {
        height: 250px;
        width: 100%;
        padding: 0;
    }

    .v2h1 {
        font-size: 14px;
        height: 28px;
        width: 200px;
    }

    .v2h2 {
        height: 28px;
        width: 28px;
    }
}