.contactSection {
    height: 70vh;
    width: 100%;
    background: whitesmoke;
    display: flex;
    flex-flow: column;
    padding: 50px;
    justify-content: space-around;
}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
}

.contactSection input {
    height: 40px;
    width: 100%;
    background: lightgray;
    border: 0;
    outline: 0;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}

::placeholder {
    color: gray;
    font-family: "Poppins", sans-serif;
}

.messageInput {
    height: 100px;
    background: lightgray;
    border: 0;
    resize: none;
    min-width: 100%;
    width: 100%;
    padding: 10px;
    outline: 0;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}

.contactSection button {
    height: 40px;
    width: 200px;
    background: #1c1c1c;
    border-radius: 5px;
    border: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}