.v2 {
  height: 150px;
  width: 100%;
  background: rgb(67, 129, 150);
  color: white;
  font-size: 50px;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v3 {
    height: 100vh;
    background: url("../css/images/custom_shoes.webp");
    background-position: center;
    background-size: cover;
}

.v4 {
    display: flex;
    height: 100vh;
    flex-flow: row wrap;
}

.v4Item {
    height: 50%;
    width: 33.33%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    letter-spacing: -2px;
    color: #1f1f1f;
}

.v5 {
    height: 90vh;
    width: 100%;
    background: url("./images/shoe3.avif");
    background-position: center;
    background-size: cover;
}

@media (max-width: 720px) {
    .v2 {
        font-size: 40px;
    }

    .v3 {
        background-size: contain;
        height: 300px;
        background-repeat: no-repeat;
    }

    .v4 {
        min-height: 100vh;
        height: auto;
        flex-flow: column;
    }

    .v4Item {
        height: 100vw;
        width: 100vw;
    }

    .v5 {
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        display: none;
        height: 0;
    }
}