.infoBarTop {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: lightblue;
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infoBarTop p {
    font-size: 11px;
}

.infoBarTop p:nth-child(1) {
    font-size: 14px;
}