.v2 {
  height: 150px;
  width: 100%;
  background: rgb(67, 129, 150);
  color: white;
  font-size: 50px;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v3 {
    height: 100vh;
    width: 100%;
    background: url("./images/football_bg.webp");
    background-position: center;
    background-size: cover;
}

.v4 {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.v4Item {
    width: 23vw;
    height: calc(23vw + 100px);
    background-image: url("./images/spikes_bg.avif");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.v4Item .text {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: fadeLoop 3s ease infinite;
    pointer-events: none;
}

@keyframes fadeLoop {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}