.v2 {
  height: 150px;
  width: 100%;
  background: rgb(67, 129, 150);
  color: white;
  font-size: 50px;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v3 {
  height: 100vh;
  width: 100%;
  background: url("../css/images/students.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.v3Item {
  height: 45%;
  width: 28%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;
}

.v3Item.active {
  height: 50%;
  width: 33.33%;
  box-shadow: 1px 1px 100px 1px white;
}

.v3Item .text {
  font-family: "Outfit", sans-serif;
  color: white;
  text-shadow: -1px 1px 0px black;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.4);
  height: 80%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 40px;
  text-align: center;
}

.v3Item.active .text {
  backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
}

.v3Item .button {
  height: 20%;
  width: 100%;
  border: 0;
  background: white;
  font-family: "Outfit", sans-serif;
  color: white;
  background: #1c1c1c;
  border-top: 2px solid white;
  cursor: pointer;
}

.v4 {
  height: 100vh;
  background: white;
  padding: 50px 50px;
  display: flex;
  flex-flow: column;
}

.v4v1 {
  font-size: 40px;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  color: black;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v4v2 {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-flow: row;
}

.v4v2h1 {
  height: 100%;
  min-width: 50%;
  display: flex;
  flex-flow: row;
  padding: 0 50px;
}

.v4v2h1 ul {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.v4v2h2 {
  width: 50%;
  font-size: 35px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0 50px;
}

.v4v2h2 p {
  animation: loopUp 3s ease;
}

@keyframes loopUp {
    0% {
        transform: translateY(-100px);
        filter: blur(4px);
        opacity: 0;
    }

    35% {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }

    70% {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
    
    100% {
        transform: translateY(100px);
        filter: blur(4px);
        opacity: 0;
    }
}

@keyframes loopRight {
    0% {
        transform: translateX(-100px);
        filter: blur(4px);
        opacity: 0;
    }

    35% {
        transform: translateX(0px);
        filter: blur(0px);
        opacity: 1;
    }

    70% {
        transform: translateX(0px);
        filter: blur(0px);
        opacity: 1;
    }
    
    100% {
        transform: translateX(100px);
        filter: blur(4px);
        opacity: 0;
    }
}

@media (max-width: 720px) {
  .v3 {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-flow: column;
  }

  .v3Item {
    height: 220px;
    width: 85%;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 10px;
  }

  .v3Item.active {
    height: 280px;
    width: 90%;
  }

  .v4 {
    min-height: 100vh;
    height: auto;
  }

  .v4v1 {
    font-size: 35px;
    text-align: center;
    width: 90%;
    padding: 0;
  }

  .v4v2 {
    margin-top: 20px;
    flex-flow: column;
    height: auto;
    align-items: center;
  }

  .v4v2h1 {
    height: 70vh;
    width: 90%;
    padding: 0;
  }

  .v4v2h2 {
    margin-top: 30px;
    min-height: 50vh;
    height: auto;
    width: 80%;
    padding: 0;
    transform: scale(0.8);
  }

  .v4v2h2 p {
    animation: loopRight 3s ease;
  }
}
